<h1>Jeu du morpion</h1>
<h2>Bienvenue sur le jeu du morpion</h2>
<h3>Pour commencer une partie veuillez enregister 2 joueurs</h3>
<div><label>Joueur 1:</label>
    <select #selectJoueur1 (change)="selectPlayer1(selectJoueur1?.value)">
        <option *ngFor="let player of players" [value]="player?.id">{{player?.name}}</option>
    </select>
</div>
<div><label>Joueur 2:</label>
    <select #selectJoueur2 (change)="selectPlayer2(selectJoueur2?.value)">
        <option *ngFor="let player of players" [value]="player?.id">{{player?.name}}</option>
    </select>
</div>
<app-register (onPlayerRegistered)="addPlayer($event)"></app-register>
<app-grid [player1]="joueur1" [player2]="joueur2"></app-grid>